# Bazel artifacts
/bazel-*
**/result
**/test-output

# Python artifacts
__pycache__/
*.pyc

# Generated test vulnerability reports
test-output/

# Generated vulnerability reports
output/

# Environment
.env
.envrc
!sample.env