# Mjolnir
MJOLNIR_BACKEND='<your-backend>'
MJOLNIR_MODEL='<your-model>'
MJOLNIR_GCS_BUCKET='<your-bucket-here>'
MJOLNIR_PARALLEL=10

# Vertex API
# See https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions for available models.
GOOGLE_CLOUD_PROJECT='<your-project-here>'                                                        
GOOGLE_CLOUD_LOCATION='global'
GOOGLE_APPLICATION_CREDENTIALS='<path/to/your/application_default_credentials.json>'

# Gemini API
# See https://ai.google.dev/gemini-api/docs/models for available models.
GEMINI_API_KEY='<your-api-key>'
