# Licensed under the Apache-2.0 license
# SPDX-License-Identifier: Apache-2.0

# Cloud Storage
CLOUD_STORAGE_BUCKET='<your-bucket-here>'

# Vertex API
# See https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions for available models.
GOOGLE_CLOUD_PROJECT='<your-project-here>'                                                        
GOOGLE_CLOUD_LOCATION='global'
GOOGLE_APPLICATION_CREDENTIALS='<path/to/your/application_default_credentials.json>'

# Gemini API
# See https://ai.google.dev/gemini-api/docs/models for available models.
GEMINI_API_KEY='<your-api-key>'
